body {
    background-color: lightgray;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 59, 59);
}

h2 {
    font-family: Helvetica, serif;
    font-weight: 200;
}

h3,ol {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 15px;
}

ul {
    font-family:Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: rgb(74, 74, 74);
}

ol {
    color: rgb(139, 86, 86);
}